@charset "utf-8";
body{
	margin:0;
	padding:0;
	}
h1{
	font-size:22em;
	text-align:center;
	color:#000;
	background:url(9eb91cb2-874b-4cc4-8f74-652508ef6483.mp4);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	}	

