@charset "utf-8";
*{
	margin:0;
	padding:0;
	}
.bgslider{
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:0;
	position:fixed;
	}
.bgslider li span{
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:0;
	color:transparent;
	position:absolute;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	animation:ImageFade 66s;
	opacity:0;
	}
.bgslider li:nth-child(1) span{
	background:url(../images/0adcfd19-9e1e-4f07-9376-3521e053f6ba.jpg);
	}
.bgslider li:nth-child(2) span{
	background:url(../images/20140918005747.jpeg);
	-moz-animation-delay:6s;
	-ms-animation-delay:6s;
	-o-animation-delay:6s;
	-webkit-animation-delay:6s;
	animation:delay:6s;
	}
.bgslider li:nth-child(3) span{
	background:url(../images/20140918010437-1200x1937.jpg);
	-moz-animation-delay:12s;
	-ms-animation-delay:12s;
	-o-animation-delay:12s;
	-webkit-animation-delay:12s;
	animation:delay:12s;
	}
.bgslider li:nth-child(4) span{
	background:url(../images/20160115005537-1-1200x1886.jpg);
	-moz-animation-delay:18s;
	-ms-animation-delay:18s;
	-o-animation-delay:18s;
	-webkit-animation-delay:18s;
	animation:delay:18s;
	}
.bgslider li:nth-child(5) span{
	background:url(../images/BeautyPlus_20201214032757219_save.jpg);
	-moz-animation-delay:24s;
	-ms-animation-delay:24s;
	-o-animation-delay:24s;
	-webkit-animation-delay:24s;
	animation:delay:24s;
	}
.bgslider li:nth-child(6) span{
	background:url(../images/BeautyPlus_20201225164753758_save.jpg);
	-moz-animation-delay:30s;
	-ms-animation-delay:30s;
	-o-animation-delay:30s;
	-webkit-animation-delay:30s;
	animation:delay:30s;
	}
.bgslider li:nth-child(7) span{
	background:url(../images/BeautyPlusMe_20180127064059_save-1.jpg);
	-moz-animation-delay:36s;
	-ms-animation-delay:36s;
	-o-animation-delay:36s;
	-webkit-animation-delay:36s;
	animation:delay:36s;
	}
.bgslider li:nth-child(8) span{
	background:url(../images/IMG-20210210-WA0033.jpg);
	-moz-animation-delay:42s;
	-ms-animation-delay:42s;
	-o-animation-delay:42s;
	-webkit-animation-delay:42s;
	animation:delay:42s;
	}
.bgslider li:nth-child(9) span{
	background:url(../images/IMG-20210210-WA0034.jpg);
	-moz-animation-delay:48s;
	-ms-animation-delay:48s;
	-o-animation-delay:48s;
	-webkit-animation-delay:48s;
	animation:delay:48s;
	}
.bgslider li:nth-child(10) span{
	background:url(../images/IMG-20210210-WA0035.jpg);
	-moz-animation-delay:54s;
	-ms-animation-delay:54s;
	-o-animation-delay:54s;
	-webkit-animation-delay:54s;
	animation:delay:54s;
	}
.bgslider li:nth-child(11) span{
	background:url(../images/Screenshot_2016-09-10-03-13-29-1.png);
	-moz-animation-delay:60s;
	-ms-animation-delay:60s;
	-o-animation-delay:60s;
	-webkit-animation-delay:60s;
	animation:delay:60s;
	}
@keyframes ImageFade{
	0%{
		opacity:0;
		animation-timing-function:ease-in;
		}

10%{
		opacity:1;
		animation-timing-function:ease-out;
		}
25%{
	opacity:0;
	}
50%{
	opacity:0.5;
	}
100%{
	opacity:1;
	}


	0%{
		-webkit-opacity:0;
		animation-timing-function:ease-in;
		}

10%{
		-webkit-opacity:1;
		animation-timing-function:ease-out;
		}
25%{
	opacity:0;
	}
50%{
	opacity:0.5;
	}
100%{
	opacity:1;
	}


	0%{
		-moz-opacity:0;
		animation-timing-function:ease-in;
		}

10%{
		-moz-opacity:1;
		animation-timing-function:ease-out;
		}
25%{
	opacity:0;
	}
50%{
	opacity:0.5;
	}
100%{
	opacity:1;
	}


	0%{
		-o-opacity:0;
		animation-timing-function:ease-in;
		}

10%{
		-o-opacity:1;
		animation-timing-function:ease-out;
		}
25%{
	opacity:0;
	}
50%{
	opacity:0.5;
	}
100%{
	opacity:1;
	}


	0%{
		-ms-opacity:0;
		animation-timing-function:ease-in;
		}

10%{
		-ms-opacity:1;
		animation-timing-function:ease-out;
		}
25%{
	opacity:0;
	}
50%{
	opacity:0.5;
	}
100%{
	opacity:1;
	}
}